[influxdb]

host = "10.0.3.195"
port = "8086"
database = "ping"
username = "ping"
password = "pong"
srchost = "myhost"

[ping]
measurement = "ping"

#ipv4_srcaddr = "192.168.1.1"
#ipv4_srcaddr = "if:eth0"
ipv4_hosts = [
    "127.0.0.1",
    "8.8.8.8",
    "1.1.1.1",
]

#ipv6_srcaddr = "2001:dba::1"
#ipv6_srcaddr = "if:eth0"
ipv6_hosts = [
    "::1",
    "2001:4860:4860::8888",
    "2606:4700:4700::1111",
]

[http]
measurement = "http"

ipv4_srcaddr = "127.0.0.1"
ipv6_srcaddr = "::1"
#ipv4_srcaddr = "if:eth0"
#ipv6_srcaddr = "if:eth0"

urls = [
    "http://www.example.com/",
    "ipv4:http://www.example.com/",
    "ipv6:http://www.example.com/",
]
