[Unit]
#AssertPathExists=/usr/bin/infping
#AssertPathExists=/etc/infping/infping.toml

[Service]
ExecStart=/usr/bin/infping --config /etc/infping/infping.toml
Restart=always
RestartSec=15
User=infping
Group=infping

[Install]
WantedBy=default.target

